      html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        border: 1px dashed blue;
        margin: 1.25em;
        padding: 1.25em;
      }
      h1 {
        padding: 25px;
        border-color: red;
        margin: 25px;
        border-radius: 15px;

        box-shadow: 0 0 0 5px #0F0,
                    inset 0 0 0 5px #00F;
        text-shadow: 1px 1px 1px #000;
        color: #FFF;

        box-sizing: border-box;
        width: 100%;
        background: linear-gradient(to bottom, red, yellow);
      }
      h2 {
        border-radius: 29px;
        background: radial-gradient(circle, blue, green);
        text-shadow: 2px 2px 2px #FFF;
      }
      body {
        margin: 50px;
        padding: 5px;
      }
      ul {
        padding: 1.25em;
      }
      ol {
        padding: 1.25em;
      }
      html {
        margin: 50px;
      }
      .coolstuff {
        margin: 100px;
      }
      .lastindented li:last-child {
        padding-left: 50px;
      }
